* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ff5350;
  background-color: #f6f8fc;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  display: grid;
  padding: 1rem;
}
body #root {
  display: grid;
  gap: 2rem;
}
body header {
  display: flex;
  justify-content: center;
}
body header .hamb {
  display: none;
}
body header nav {
  width: 100vw;
  max-width: 80rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 2.6rem 4rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
body header nav li {
  font-weight: 600;
  list-style: none;
}
body header nav li:hover a {
  color: rgba(255, 118, 116, 0.8);
}
body header nav li a {
  text-decoration: none;
  color: #7d7774;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.4s ease;
  position: relative;
}
body header nav li a.active {
  color: #ff5350;
}
body header nav li a svg {
  font-size: 2.8rem;
}
body .page {
  display: flex;
  justify-content: center;
  height: 100vh;
}
body .page .app {
  width: 100%;
  max-width: 100rem;
}
body .page .app .title {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
body .page .app .title h1 span {
  color: #7d7774;
}
body .page .app .search {
  width: 100%;
  height: 6rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2rem;
  overflow: hidden;
  padding: 2rem;
}
body .page .app .search input {
  flex: 1;
  height: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  color: #f56764;
  font-weight: 600;
}
body .page .app .search input::-moz-placeholder {
  font-weight: 500;
  opacity: 0.5;
}
body .page .app .search input:-ms-input-placeholder {
  font-weight: 500;
  opacity: 0.5;
}
body .page .app .search input::placeholder {
  font-weight: 500;
  opacity: 0.5;
}
body .page .app .search .searchBtn {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #ff5350;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(255, 83, 80, 0.4588235294) 0px 1px 14px 1px;
  transition: 0.4s ease transform;
}
body .page .app .search .searchBtn:hover {
  transform: scale(0.9);
}
body .page .app .search .searchBtn svg {
  color: white;
  font-size: 2.4rem;
}
body .page .app .pokemonList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  margin-top: 2.4rem;
}
body .page .app .pokemonList .pokemonCard {
  width: 100%;
  max-width: 28rem;
  max-height: 34rem;
  background-color: white;
  display: grid;
  justify-items: center;
  padding: 0 0 2rem 0;
  margin-bottom: 4rem;
  border-radius: 2rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body .page .app .pokemonList .pokemonCard .image {
  position: relative;
  top: -3rem;
}
body .page .app .pokemonList .pokemonCard .image img {
  width: 5rem;
}
body .page .app .pokemonList .pokemonCard .image img.upImg {
  width: 8rem;
}
body .page .app .pokemonList .pokemonCard .infos {
  display: grid;
  text-align: center;
  gap: 1rem;
}
body .page .app .pokemonList .pokemonCard .infos .id {
  font-size: 1.3rem;
  color: #7d7774;
}
body .page .app .pokemonList .pokemonCard .infos .name {
  font-size: 2.2rem;
  color: #2d384c;
  font-weight: 600;
}
body .page .app .pokemonList .pokemonCard .infos .types {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body .page .app .pokemonList .pokemonCard .infos .types .type {
  color: #2d384c;
  background-color: #a8ef8c;
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.normal {
  background-color: #edef8c !important;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.fire {
  background-color: #fc5f5f !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.poison {
  background-color: #670be0 !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.water {
  background-color: #0b80e0 !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.flying {
  background-color: #8cc2ef !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.bug {
  background-color: #915730 !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.dragon {
  background-color: #000000 !important;
  color: white;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.electric {
  background-color: #fff7f1 !important;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
body .page .app .pokemonList .pokemonCard .infos .types .type.psychic {
  background-color: rgb(251, 255, 0) !important;
  color: rgb(0, 0, 0);
}
body .page .app .pokemonList .pokemonCard .infos .types .type.ground {
  background-color: rgb(253, 185, 121) !important;
  color: rgb(255, 255, 255);
}
body .page .app .pokemonList .pokemonCard .infos .types .type.rock {
  background-color: rgb(63, 59, 56) !important;
  color: rgb(255, 255, 255);
}

@media (max-width: 820px) {
  body header {
    position: relative;
  }
  body header .hamb {
    display: flex;
    position: fixed;
    margin: 1rem;
    right: 0;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: 0.4s ease all;
    z-index: 999;
  }
  body header .hamb:hover {
    background-color: #ff5350;
  }
  body header .hamb:hover svg {
    color: white;
  }
  body header .hamb svg {
    font-size: 1.8rem;
    transition: 0.4s ease all;
  }
  body header nav {
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: -100vh;
    gap: 5rem;
    transition: 0.4s ease transform;
    z-index: 99;
  }
  body header nav.show {
    transform: translateY(100vh);
  }
}/*# sourceMappingURL=App.css.map */